spring:
  profiles:
    active:
    - dev
---
server:
  port: 8001
  servlet:
    context-path: /
  
mybatis:
  config-location: classpath:mybatis/mybatis.cfg.xml        # mybatis配置文件所在路径
  type-aliases-package: com.wpp.springcloud.entities        # 所有Entity别名类所在包
  mapper-locations:
  - classpath:mybatis/mapper/**/*.xml                       # mapper映射文件
    
spring:
   profiles: dev
   application:
    name: springcloud-config-dept-client                         # 对外暴露的微服务名字（也是Eureka实例名称->会自动转换大写））
   datasource:
    type: com.alibaba.druid.pool.DruidDataSource            # 当前数据源操作类型
    driver-class-name: com.mysql.cj.jdbc.Driver             # mysql驱动包 对应驱动版本号：8.0.18
    url: jdbc:mysql://localhost:3307/cloudDB01?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf8&useSSL=false              # 数据库名称cloudDB01  docker映射端口3307
    username: root
    password: 123456
    dbcp2:
      min-idle: 5                                           # 数据库连接池的最小维持连接数
      initial-size: 5                                       # 初始化连接数
      max-total: 5                                          # 最大连接数
      max-wait-millis: 200                                  # 等待连接获取的最大超时时间
      
eureka:
  client: #客户端注册进eureka服务列表内
    service-url: 
      defaultZone: http://localhost:7001/eureka              
  instance:
    instance-id: springcloud-service-dept8001   # 自定义注册的实例别名
    prefer-ip-address: true                     #访问路径可以显示IP地址

---
server:
  port: 8001
  servlet:
    context-path: /
  
mybatis:
  config-location: classpath:mybatis/mybatis.cfg.xml        # mybatis配置文件所在路径
  type-aliases-package: com.wpp.springcloud.entities        # 所有Entity别名类所在包
  mapper-locations:
  - classpath:mybatis/mapper/**/*.xml                       # mapper映射文件
    
spring:
   profiles: test
   application:
    name: springcloud-config-dept-client                         # 对外暴露的微服务名字（也是Eureka实例名称->会自动转换大写））
   datasource:
    type: com.alibaba.druid.pool.DruidDataSource            # 当前数据源操作类型
    driver-class-name: com.mysql.cj.jdbc.Driver             # mysql驱动包 对应驱动版本号：8.0.18
    url: jdbc:mysql://localhost:3307/cloudDB01?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf8&useSSL=false              # 数据库名称cloudDB01  docker映射端口3307
    username: root
    password: 123456
    dbcp2:
      min-idle: 5                                           # 数据库连接池的最小维持连接数
      initial-size: 5                                       # 初始化连接数
      max-total: 5                                          # 最大连接数
      max-wait-millis: 200                                  # 等待连接获取的最大超时时间
      
eureka:
  client: #客户端注册进eureka服务列表内
    service-url: 
      defaultZone: http://localhost:7001/eureka              
  instance:
    instance-id: springcloud-service-dept8001   # 自定义注册的实例别名
    prefer-ip-address: true                     #访问路径可以显示IP地址
